<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Manga Search Result</title>
	<style>
		table {
			width: 100%;
			border-collapse: collapse;
			margin-bottom: 2em;
		}
		th, td {
			border: 1px solid #ddd;
			padding: 8px;
			text-align: left;
		}
		th {
			background-color: #f2f2f2;
		}
		tr:nth-child(even) {
			background-color: #f9f9f9;
		}
		tr:hover {
			background-color: #f1f1f1;
		}
		th:nth-child(1), td:nth-child(1) {
			width: 5%;
		}
		h2 {
			margin-top: 2em;
		}
	</style>
</head>
<body>
	<h1>Search Results</h1>
	<p><button onclick="window.location.href='/manga';">Back to Manga</button></p>

	{{if .HasResults}}
		{{if .MangadexResults}}
		<h2>Mangadex Table Search Results</h2>
		<table>
			<thead>
				<tr>
					<th>Database ID</th>
					<th>Name</th>
					<th>Alternate Name</th>
					<th>URL</th>
					<th>Mangadex ID</th>
					<th>Ongoing</th>
					<th>Completed</th>
					<th>Hiatus</th>
					<th>Cancelled</th>
				</tr>
			</thead>
			<tbody>
				{{range .MangadexResults}}
				<tr>
					<td>{{index . "id"}}</td>
					<td>{{index . "name"}}</td>
					<td>{{index . "alt_name"}}</td>
					<td><a href="{{index . "url"}}" target="_blank">{{index . "url"}}</a></td>
					<td>{{index . "mangadex_id"}}</td>
					<td>{{index . "ongoing"}}</td>
					<td>{{index . "completed"}}</td>
					<td>{{index . "hiatus"}}</td>
					<td>{{index . "cancelled"}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{end}}

		{{if .MangaResults}}
		<h2>Manga Table Search Results</h2>
		<table>
			<thead>
				<tr>
					<th>Database ID</th>
					<th>Name</th>
					<th>Alternate Name</th>
					<th>URL</th>
					<th>Ongoing</th>
					<th>Completed</th>
					<th>Hiatus</th>
					<th>Cancelled</th>
				</tr>
			</thead>
			<tbody>
				{{range .MangaResults}}
				<tr>
					<td>{{index . "id"}}</td>
					<td>{{index . "name"}}</td>
					<td>{{index . "alt_name"}}</td>
					<td><a href="{{index . "url"}}" target="_blank">{{index . "url"}}</a></td>
					<td>{{index . "ongoing"}}</td>
					<td>{{index . "completed"}}</td>
					<td>{{index . "hiatus"}}</td>
					<td>{{index . "cancelled"}}</td>
				</tr>
				{{end}}
			</tbody>
		</table>
		{{end}}
	{{else}}
		<p><strong>No Results found.</strong></p>
	{{end}}

	<p><button onclick="window.location.href='/manga';">Back to Manga</button></p>
</body>
</html>
